---
layout: page
description: "一位有理想，即将退役的OIER"
header-img: "img/orange new.png"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
         <div class="post-header-img" style="background-image: url('{{ site.baseurl }}{{ post.preview-img }}')"></div>
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:100 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
        {% if site.leancloud.enable %}
        <span id="{{ post.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}">
         <span class="post-meta-divider">|</span>
         <span class="post-meta-item-text"> Hits:  </span>
         <span class="leancloud-visitors-count"></span>
        </span>
    {% endif %}
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% if paginator.page > 1 %}
<li><a href="/page{{paginator.previous_page}}/">上一页</a></li>
{% endif %}
{% assign pageSize = 5 %}
{% assign startPage = paginator.page | minus:pageSize %}
{% if 2 > startPage %}
{% assign startPage = 2 %}
{% endif %}
{% assign endPage = paginator.page | plus:pageSize %}
{% if endPage >= paginator.total_pages %}
{% assign endPage = paginator.total_pages | minus:1 %}
{% endif %}
{% for count in (startPage..endPage) %}
{% if count == paginator.page %}
<li><a href="#"><span class="current-page">{{count}}</span></a></li>
{% else %}
<li><a href="/page{{count}}/">{{count}}</a></li>
{% endif %}
{% endfor %}
{% if paginator.next_page %}
<li><a href="/page{{paginator.next_page}}/">下一页</a></li>
{% endif %}
<li><a href="/page{{paginator.total_pages}}/">末页</a></li>
<li><a href="#">第{{paginator.page}}页 / 共{{paginator.total_pages}}页</a></li>